
.date-picker-default input{
    background-color: white !important;
}

.border-value {
    position: relative;
    border: 1px solid #ccc;
}

.border-value:before {
    content: " " !important;
    position: absolute !important;
    z-index: -1 !important;
    top: 5px !important;
    left: 5px !important;
    right: 5px !important;
    bottom: 5px !important;
    border: 1px solid black !important;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

a.datepircker{
    color: white !important;
    text-decoration: underline !important;
    font-weight: 900 !important;
}

.panel-spreadhsheet-diarias {
    height: 600px !important;
    max-height: 600px !important;
    overflow: hidden
}

.panel-spreadsheet-diarias-dias-horas {
    padding-right: 0px !important;
    padding-left: 0.5px !important
}
.panel-spreadsheet-diarias-dias-horas-container {
    height: 580px !important;
    max-height: 580px !important;
    overflow-x: auto;
    overflow-y: scroll
}

.panel-spreadsheet-diarias-data {
    padding-left: 0px !important;
}

.panel-spreadsheet-diarias-data-container {
    height: 600px !important;
    max-height: 600px !important;
    overflow: scroll;
}

.a-editar-formula {
    /*margin-top: 13px !important;*/
    margin-top: 3px !important;
    margin-left: 10px !important
}

.div-formula{
    display:flex !important;
}