<!-- Main Footer -->

<div class="footer">


    <div class="row">
        <div class="col-md-8">
            <strong>&copy; 2021 <a href="https://adminlte.io">AIVA</a>.</strong>
        </div>
        <div class="col-md-4" style="margin-top:15px; text-align:right;">
            v1 12 de diciembre de 2021 05:04:27 p. m.
        </div>

    </div>
</div>
