@using AIVA.Utilidades
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] AIVA - Agencia de Investigación a Vehículos Automotores</title>

    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/animate.css" />

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.css" />
</head>
<body>


    <div id="wrapper">

        <partial name="_Navigation" />
        <div id="page-wrapper" style="background-color: #FFF;">
            <partial name="_TopNavbar" />
            <div class="wrapper wrapper-content">
                @RenderBody()
            </div>
            <partial name="_Footer" />

        </div>
    </div>

    @RenderSection("toast", required: false)



    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/Popper/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/metisMenu/dist/jquery.metisMenu.js"></script>
    <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
    <script src="~/lib/pace/pace.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>

    <script src="~/js/skin.config.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    @await Html.PartialAsync("_Notificacion")

    @RenderSection("Scripts", required: false)
</body>
</html>
