

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element text-center">
                    
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        AIVA
                    </a>
                    
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Cliente" asp-action="Index" class="nav-link">
                    <i class="fa fa-user"></i>

                    Clientes

                </a>
            </li>

            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Vehiculos" asp-action="Create" class="nav-link">
                    <i class="fa  fa-car"></i>

                    Nueva Captura

                </a>
            </li>

            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Vehiculos" asp-action="Index" class="nav-link">
                    <i class="fa fa-sticky-note"></i>

                    Bitacora

                </a>
            </li>

            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Vehiculos" asp-action="Index" class="nav-link">
                    <i class="fa  fa-check"></i>

                    Resultados

                </a>
            </li>

            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Vehiculos" asp-action="Index" class="nav-link">
                    <i class="fa fa-registered"></i>

                    5 Digitos

                </a>
            </li>


            <li>
                <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Catálogos</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Oficinas" asp-action="Index" class="nav-link">
                            <i class="fa fa-circle nav-icon"></i>
                            Oficinas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Estados" asp-action="Index" class="nav-link">
                            <i class="fa fa-circle nav-icon"></i>
                            Estados
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Municipios" asp-action="Index" class="nav-link">
                            <i class="fa fa-circle nav-icon"></i>
                            Municipios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Marcas" asp-action="Index" class="nav-link">
                            <i class="fa fa-circle nav-icon"></i>
                            Marcas de auto
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Modelos" asp-action="Index" class="nav-link">
                            <i class="fa fa-circle nav-icon"></i>
                            Modelos de auto
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="AModelo" asp-action="Index" class="nav-link">
                            <i class="fa fa-circle nav-icon"></i>
                            Año del modelo
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="ColorVehiculo" asp-action="Index" class="nav-link">
                            <i class="fa fa-circle nav-icon"></i>
                            Color del vehículo
                        </a>
                    </li>
                </ul>
            </li>




        </ul>

    </div>
</nav>